.housemate {
    text-align: center;
    border: 1px solid #ccc;
    padding: 0.5rem;
    display: block;
    position: relative;
}

.avatar {
    margin: 0 auto;
    display: block;
    width: 15rem;
    height: 15rem;
    border: 3px solid rebeccapurple;
    border-radius: 50%;
    padding: 0.5rem;
}

.avatar img{
    border-radius: inherit;
}
.name {
    font-size: 2.5rem;
}
.controls{
    display: flex;
    padding: 1rem 0;
    align-items: center;
}

.control:not(:last-child){
    width: 3rem;
    margin-right: 0.5rem;
}

.control span {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 3rem;
    background-color: rebeccapurple;
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
}
