.sidenav{
    position: relative;
    padding-right: 2rem;
    min-height: inherit;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid #eee;
}
.offback{
    pointer-events: none;
}
.sidenav-links {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
}

.sidenav-item{
    margin-top: 2rem;
    font-size: 2.3225rem;
    display: block;
    font-weight: bolder;
}

.sidenav-link {
    color: rgb(112, 109, 109);
    display: inline-flex;
    align-items: center;
    padding: 0.8rem 1.2rem;
    border-radius: 2.832rem;
    letter-spacing: 1.25px;
    transition: 0.5s;
}

.sidenav-item:hover .sidenav-link{
    background-color: rgba(235, 117, 117, 0.651);
    color: rgba(73, 2, 2,1);
}
.sidenav-link span:nth-child(1) {
    display: inline-block;
    margin-right: 0.25rem;
}
.bottom{
    height: auto;
    width: 100%;
}
.sidenav__link-bottom{
    width: 100%;
}
.bottom-logout__btn{
    border-radius: 2.832rem;
    padding: 0.5rem;
    display: block;
    background-color: none;
    width: 100%;
    background: none
}

.bottom-logout__btn:hover{
   background-color:  rgba(201, 186, 186, 0.651);
}

.logout-tooltip__content{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 250px;
    bottom: 60px;
    border-radius: 10px;
    z-index: 5;
    /* padding: 1rem; */
    background-color: #F2F3FB;
    box-shadow: -4px 0px 0px 4px rgba(255, 255, 255, 0.651) ,
    4px 0px 0px 4px rgba(255, 255, 255, 0.651);
    transition: 1s;
}
.logout-tooltip__content:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: #F2F3FB;
    bottom: -1px;
    left: 10px;
    z-index: -5;
}
.logout-tooltip__item:not(:first-child){
    border-top: 1px solid #ccc;
}
.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10%);
    transition: 1s;
}
.logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
}

.logout-left{
    display: flex;
    align-items: center;
}
.bottom-sidenav__item{
    font-size: 1.8rem;
    display: block;
    width: 100%;
}
.bottom-sidenav__link{
    padding: 0.5rem 1.2rem;
    display: inline-block;
}

.avatar {
    display: block;
    border: 3px solid rebeccapurple;
    border-radius: 50%;
    padding: 0.5rem;
    align-self: center;
}

.handle{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    text-align: left;
    margin-left: 1rem;
}

.avatar-small{
    width: 5rem;
    height: 5rem;
}
